.main {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.avatarDiv{
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 1rem;
}
.avatar {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
}
.avatarIcon{
    position: absolute;
    top:0;
    left:0;
    width: 15px;
    height: 15px;
}
.form {
    display:flex;
    background-color: lightgrey;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 25px 40px;
    border-radius: 10px;
    overflow: hidden;
}
.formUsername, .formEmail, .formPassword{
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}
.formControl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: calc(2.25rem + 2px);
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formControl:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.formControl::-webkit-input-placeholder {
    color: #6c757d;
}

.formControl::-moz-placeholder {
    color: #6c757d;
}

.formControl:-ms-input-placeholder {
    color: #6c757d;
}
.formControl::placeholder{
    width:100%;
    text-align:center;
}
.form .textDanger{
    color: rgba(255, 0, 0, 0.71);
    position: absolute;
    bottom: 1.4rem;
    left:5px;
    width:100%;
    font-size: 0.63rem;
    font-stretch: ultra-condensed;
    text-align:center;
}
.form .formButton {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.5rem;
    display: block;
}

.formButton button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}
.loginRef{
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(98, 100, 103);
    cursor: pointer;
}
.inputFile{
    display: none;
}
